body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
    color: #464866
    padding: 20px;
}


.qns {
    background-color: #F7F9FB;
    margin: 10px;
}

p {
/*    font-style: italic;*/
    padding: 10px;
    font-size: 18px;
}

.blockquote {
  padding: 200px 0;
}

.title {
    color: #4267B2;
}

.green {
    background-color: MediumSeaGreen;
}

.login_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pic {
    width: 100%;
    height: 100%;
}

.banner_search {
    background-image: url('https://cdn.create.vista.com/api/media/medium/244754778/stock-photo-top-view-wooden-cubes-letters?token=');
    background-size:cover;
    padding: 10px;
}

.banner_quiz {
    background-image: url('https://images.unsplash.com/photo-1518130242561-edb760734bee?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035');
    background-size:cover;
    padding: 10px;
}

.banner_fav {
    background-image: url('https://images.unsplash.com/photo-1580727119923-7ece274c81c5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');
    height: 250px;
}

.banner_error {
    background-size:cover;
    padding: 10px;
}

.banner_fav .btn-holder,
.banner_quiz .btn-holder, {
  justify-content: flex-end;
  display: flex;
}

.quiz,
.no-definition-main,
.main,
.dashboard,
.chart {
    margin-top: 30px;
    padding-left: 20px;
}



