/*body {
    background-color: #2b3853;
}*/\

.dictionary-background {
    color: #FFFFFF;
}

p {
    font-style: italic;
}

.blockquote {
    padding: 200px 0;
}

.card {
    padding-left: 20px;
    padding-bottom: 20px;
}


